name: Build Job
on:
  push:
    branches:
        - main

jobs:
    Build:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout Code
          uses: actions/checkout@v4

        - name: Maven Build
          run: mvn clean install

    Testing:
      runs-on: ubuntu-latest
      needs: Build
      steps:
        - name: Checkout Code
          uses: actions/checkout@v4

        - name: Run Tests on main branch
          run: mvn test

        - name: Checkstyle
          run: mvn checkstyle:checkstyle

