name: Build Job
on:
#   push:
#     branches:
        # - main

  pull_request:
    branches:
        - main

jobs:
    Build:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout Code
          uses: actions/checkout@v4
          with:
            fetch-depth: 0

        - name: Maven Build
          run: mvn install

    Testing:
      runs-on: ubuntu-latest
      needs: Build
      steps:
        - name: Checkout Code
          uses: actions/checkout@v4
          with:
            fetch-depth: 0

        - name: Run Tests on main branch
          run: mvn test

        - name: Checkstyle
          run: mvn checkstyle:checkstyle

